.contact {
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(51, 47, 47);
    padding: 10px 20px;
    transition: 0.2s all;
    color: white;
    @include mediaQuery($md) {
      margin-bottom: 18px;
    }
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $softGreen;
    }
  }
  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(51, 47, 47);
    padding: 10px 20px;
    transition: 0.2s all;
    color: white;
    margin-top: 30px;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $softGreen;
    }
  }
  .button_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .down_cv {
    position: relative;

    p {
      font-size: $bigSize - 0.3;
    }
  }
}
