.myContainer {
  width: 65%;
  @include mediaQuery($lg) {
    width: 75%;
  }
  @include mediaQuery($md) {
    width: 90%;
  }
  .ex_ed_box {
    width: 100%;

    background-color: transparent;
    /*  backdrop-filter: blur(10px); */
    background-color: $darkBlue;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }
  .header_page {
    padding: 40px;
    margin-bottom: 20px;
    h2 {
      color: white;
      font-family: $PopFont;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 1.6rem;
    }
    &::after {
      width: 120px;
    }
    span {
      width: 34px;
      height: 17px;
      left: calc(50% - 17px);
      margin-top: 60px;
      z-index: 99;
    }
    span::after {
      width: 16px;
      height: 16px;
    }
    span::before {
      width: 16px;
      height: 16px;
    }
  }
  ul {
    list-style: none;
    li {
      position: relative;
      margin-bottom: 30px;
      .line::after {
        position: absolute;
        content: "";
        height: 170px;
        width: 2px;
        background-color: $softGreen;
      }
      .line::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        top: 20px;
        background-color: $softGreen;
      }
      .circle::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: 14px;
        left: -7px;
        z-index: 9;
        border-radius: 50%;
        border: 2px solid $softGreen;
        background-color: $darkBlue;
      }
    }
  }
}
.ex_ed_box {
  &_title {
    color: white;
    text-transform: capitalize;
    margin-left: 2.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 8px;
  }
  &_date {
    font-size: $minSize;
    margin-left: 2.3rem;
    color: $softGreen;
    display: flex;
    align-items: center;
    padding-top: 10px;
    span {
      margin-left: 0.5rem;
      padding-top: 3px;
    }
  }
  &_desc {
    font-size: $minSize;
    margin-left: 2.3rem;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}
.ed_image {
  width: 100%;
  height: 363px;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  @include mediaQuery($md) {
    height: 343px;
  }
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  img {
    width: 100%;
    @include mediaQuery($md) {
      height: 100%;
    }
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}
