* {
  margin: 0;
  padding: 0;
  font-family: $PopFont;
  box-sizing: border-box;
}
.layout {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  .background_img {
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: -1;
    @include mediaQuery(2000px) {
      width: 2000px;
    }
  }
  background-size: cover;
  background-position: center;
  position: sticky;
}
.layout_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.layout {
  .layout_side_container {
    width: 10%;
    @include mediaQuery($md) {
      visibility: hidden;
      position: fixed;
      width: 100%;
      left: 0;
      transform: translateX(-200px);
      transition: 0.5s linear;
      z-index: 999;
      &.active {
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
  &_side {
    height: 100vh;
    display: flex;
    width: 10%;
    position: fixed;
    height: 100vh;
    left: 0;
    width: 10%;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(1, 22, 39, 0.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    @include mediaQuery($lg) {
      font-size: $normSize + 0.3;
    }
    @include mediaQuery($md) {
      width: 20%;
      z-index: 9999;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      border-bottom: 2px solid black;
      img {
        width: 20%;
      }
    }
  }
  &_body {
    width: 90%;
    @include mediaQuery($md) {
      width: 100%;
    }
  }
  &_list {
    margin-top: $minSize;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;

    .list_item {
      color: white;
      margin-bottom: $minSize;
      font-size: $bigSize + 0.3;
      cursor: pointer;
      transition: all 0.4s;
      &.active {
        transition: all 0.4s;
        color: $softGreen;
        transform: scale(1.2);
      }
      &:hover {
        color: $softGreen;
        transform: scale(1.2);
      }
    }
  }
  &_sound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    text-transform: capitalize;
  }
}
.layout_body {
  position: relative;
  min-height: 100vh;

  .personal_title {
    width: 100%;

    top: 40%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -40%);
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
      font-size: $bigSize + 1.5;
      font-family: $PopFont;
      font-weight: 800;
      text-transform: capitalize;
      text-shadow: 2px 2px 10px black;
      transition: all 1s;
      @include mediaQuery($lg) {
        font-size: $bigSize + 1.2;
      }
      @include mediaQuery($md) {
        font-size: $bigSize + 0.8;
      }
    }
    p {
      font-family: $PopFont;
      font-size: $normSize + 0.5;
      text-shadow: 2px 2px 10px black;
      @include mediaQuery($lg) {
        font-size: $normSize + 0.3;
      }
      @include mediaQuery($md) {
        font-size: $normSize + 0.3;
      }
    }
  }
}
//global
.upAnime {
  transition: all 0.5s;
  &:hover {
    transform: translateY(-10px);
    @include mediaQuery($md) {
      transform: translateY(0px);
    }
  }
}
.slide_right {
  right: 0;
}
.slide_left {
  left: 0;
}
.slide {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 99999;
  background-color: black;
  animation: slide 1s;
  animation-delay: 1s;
  width: 50%;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
    visibility: hidden;
  }
}

.navbar_container {
  width: 100%;
  position: fixed;
  background-color: $darkBlue;
  display: none;
  color: white;
  z-index: 997;
  font-size: 1.7rem;
  @include mediaQuery($md) {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
}
