.services {
  .sum_info_box {
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
    width: 65%;
    @include mediaQuery($lg) {
      width: 75%;
    }
    @include mediaQuery($md) {
      width: 90%;
    }
  }
  &_box {
    width: 100%;
    background-color: transparent;
    /*     backdrop-filter: blur(10px); */
    background-color: $darkBlue;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 35px;

    &_icon {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        color: white;
        border-radius: 50%;
        @include mediaQuery($lg) {
          width: 70px;
          height: 70px;
        }
        background-color: $darkBlackOpacity;
        font-size: 2rem;
        @include mediaQuery($lg) {
          font-size: 1.8rem;
        }
        @include mediaQuery($md) {
          font-size: 1.8rem;
        }
      }
    }
    &_title {
      width: 100%;
      display: flex;
      margin-top: 10px;
      justify-content: center;
      h3 {
        color: white;
        font-family: $PopFont;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.2rem;
        @include mediaQuery($lg) {
          font-size: 1rem;
        }
        @include mediaQuery($md) {
          font-size: 1rem;
        }
      }
    }
    &_desc {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      p {
        align-items: center;
        color: white;
        font-family: $PopFont;
        font-size: 1rem;
        text-align: center;
        @include mediaQuery($lg) {
          font-size: 0.8rem;
        }
        @include mediaQuery($md) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
