.sum_info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_box {
    width: 65%;
    @include mediaQuery($lg) {
      width: 75%;
    }
    @include mediaQuery($md) {
      width: 90%;
      z-index: 9999;
    }
    background-color: transparent;
    /*     backdrop-filter: blur(10px); */
    background-color: $darkBlue;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }
  .image_container {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    @include mediaQuery($md) {
      width: 50%;
      display: flex;
      margin: auto;
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
    }
  }
  &_name {
    text-transform: capitalize;
    color: white;
    font-size: $bigSize - 0.2;
    font-weight: 600;
    font-family: $PopFont;
    @include mediaQuery($md) {
      font-size: $bigSize - 0.6;
    }
  }

  &_loc {
    color: $softGreen;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-top: 10px;
    @include mediaQuery($md) {
      font-size: $bigSize - 0.6;
    }
    span {
      margin-top: 2px;
      margin-left: 5px;
    }
  }
  &_desc {
    margin-top: 20px;
    color: white;
    font-family: $PopFont;
    text-align: justify;
    @include mediaQuery($md) {
      font-size: $bigSize - 0.6;
    }
  }
  &_circle {
    width: 50px;
    height: 50px;
    background-color: $darkBlackOpacity;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    @include mediaQuery($md) {
      margin-bottom: 60px;
    }
  }
  .circle_title {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
  }
  .circle_info {
    padding: 0;
    text-transform: capitalize;
    margin: 0;
    margin-left: 10px;
    margin-top: 3px;
    font-size: $minSize;
    color: $softGreen;
  }
  .down_cv {
    position: relative;

    p {
      color: $softGreen;
      font-size: $bigSize - 0.1;
      text-transform: capitalize;
      cursor: pointer;
      z-index: 999;
      position: relative;
      padding-top: 15px;
      @include mediaQuery($md) {
        font-size: $bigSize - 0.3;
      }
    }
    span {
      width: 100%;
      position: absolute;
      z-index: 8;
      top: 0;

      &::after {
        position: absolute;
        content: "";
        left: -5px;
        width: 50px;
        height: 60px;
        border-radius: 10px;
        background-color: $darkBlackOpacity;
        position: absolute;
        z-index: 3;
        transition: 0.4s all;
        @include mediaQuery($md) {
          height: 40px;
          top: 10px;
        }
      }
      &::before {
        content: "";
        width: 170px;
        height: 3px;
        top: 13px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: 50px;
        z-index: 5;
        transition: 0.4s all;
        @include mediaQuery($md) {
          width: 120px;
        }
      }
    }

    &:hover {
      span {
        &::after {
          width: 170px;
        }
        &::before {
          transform: rotate(90deg);
          left: -35px;
          width: 60px;
          top: 30px;
          @include mediaQuery($md) {
            width: 40px;
            left: -23px;
          }
        }
      }
    }
  }
}
