$minSize: 0.875rem;
$normSize: 1rem;
$bigSize: 1.5rem;
$darkBlue: #011627;
$softGreen: #25ca7f;
$softBlack: #0e0f10;
$blackBlue: #081925be;
$darkBlack: #070708;
$darkBlackOpacity: #07070880;
//font
$fontBold: 900;
$fontlight: 400;
$fontNormal: 500;
$fontMedium: 700;
$PopFont: "Poppins", sans-serif;
