@import "./variable";
@import "./home";
@import "./about";
@import "./headerPage";
@import "./sumInfo";
@import "./interests";
@import "./services";
@import "./resume";
@import "./expirenceEducation";
@import "./skills";
@import "./portfolioCard";
